:root {
    --primary: #fcd02c;
    --light: #dfe3e4;
    --lightAccent: #f1e4b5;
    --dark: #32064a;
    --darkAccent: #687494;
    --shadow: 2px 2px 2px rgba(28,110,164,0),
    1px 1px 1px rgba(0,0,0,.5),
    -1px -1px 1px rgba(255,255,255,.1),
    2px 2px 2px rgba(28,110,164,0);
}


html {
    min-height: 100%;
    line-height: 1.2;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "content"
    "footer";
    padding: 0;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
    background: radial-gradient(circle at 11.77% 60.98%, #232526, transparent 100%),radial-gradient(circle at 89.32% 17.70%, #414345, transparent 100%),radial-gradient(circle at 65.63% 67.38%, #a1a1a1, transparent 100%),radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
    color: var(--light);
    text-shadow: var(--shadow);
    font-size: 100%;
}


a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

h1 {
    text-align: center;
    margin-top: 0;
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

p {
    font-size: 1.25em;
    margin-bottom: 1.3em;
}

header {
    grid-area: header;
    margin-top: 5%;
}

.content {
    grid-area: content;
    padding: 0 10%;
}

.title {
    grid-area: title;
}

.description {
    grid-area: description;
    max-width: 100%;
}

.icon {
    margin: 0 4px 0 0;
}

.btn-group {
    grid-area: buttons;
}

.button {
    display: inline-block;
    background: radial-gradient(circle at 1.98% 33.98%, #FF8008, transparent 100%),radial-gradient(circle at 98.02% 93.05%, #FFC837, transparent 100%),radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
    border:.1em solid var(--darkAccent);
    border-radius: 5em;
    padding: .5em;
    margin: .5em;
    color: var(--dark);
    box-shadow: var(--shadow);
}

.video-container {
    grid-area: video;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 0;
    padding-top: 56%;
    overflow: hidden;
    max-width: 100%;
    box-shadow: var(--shadow);
}

.footer {
    grid-area: footer;
    font-size: .65em;
}

.features {
    background: url("../img/features.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lfd {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "video"
    "description"
    "buttons";
    justify-content: center;
    align-content: start;
    text-align: center;
    
}

@media only screen and (min-width: 900px){
   .lfd {
       text-align: justify;
       grid-gap: 2em;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
    "title title"
    "description video"
    "buttons buttons"; 
   }
}

@media only screen and (min-width: 1200px){
   .lfd {
       text-align: justify;
      grid-template-columns: 4fr 2fr 1fr;
      grid-template-areas:
      "header header header" 
    "title title title"
    "description video video"
    "buttons video video"; 
   }
}