body {
    margin: 30px;
    background-color: #66555f;
    background-attachment: fixed;
    background-size: cover;
    color: #F5F4F4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
